{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} post-in-list">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
</article>

{{/foreach}}


            <article class="{{post_class}} post-in-list post">
                <section class="post-excerpt">
{{content words="0"}}

                        <div class="info-mask">
                            <div class="mask-wrapper">
                                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                                <div class="post-meta">
                                    <span class="post-time"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></span>
                                    <span class="post-tags">{{tags prefix="" separator=" "}}</span>
                                </div>


                            </div>

                        </div>

                </section>

            </article>





{{! Previous/next page links - displayed on every page }}
{{pagination}}
